@page "/ProductType/{typeId:long}"
<PageTitle>Информация о типе товара</PageTitle>

@attribute [Authorize(Roles = Roles.Administrator)]

@inject IProductTypeService productTypeService
@inject IProductService productService
@inject ITypePropertyService typePropertyService
@inject NavigationManager navManager

<ErrorModal @ref="modal"></ErrorModal>

@if (productType is null)
{
    <LoadingSpinner></LoadingSpinner>
}
else
{
    <h3>Информация о типе товара: <b>@productType.Name</b></h3>


    <h4 class="mt-3">
        Свойства

        <Button Color="ButtonColor.Success"
                Type="ButtonType.Link"
                To="@($"CreateTypeProperty/{productType.Id}")">
            <Icon Name="IconName.PlusLg" Size="IconSize.x5"></Icon>
        </Button>

        <Button Color="ButtonColor.Primary"
                @onclick="GetTypeProperties">
            <Icon Name="IconName.ArrowRepeat" Size="IconSize.x5"></Icon>
        </Button>
    </h4>


    @if (typeProperties is null)
    {
        <LoadingSpinner></LoadingSpinner>
    }
    else
    {
        <QuickGrid Items="typeProperties" Class="w-auto table table-striped table-bordered table-sm">
            <PropertyColumn Property="@(tp => tp.Id)"></PropertyColumn>

            <PropertyColumn Property="@(tp => tp.Name)" Title="Наименование" Sortable="true"></PropertyColumn>

            <TemplateColumn Class="col-justify-center">
                <Button Color="ButtonColor.Secondary"
                        Type="ButtonType.Link"
                        To="@($"ChangeTypeProperty/{context.TypeId}/{context.Id}")">
                    <Icon Name="IconName.Pencil" Size="IconSize.x6"></Icon>
                </Button>
            </TemplateColumn>

            <TemplateColumn>
                <ChildContent>
                    <Button Color="ButtonColor.Danger"
                            @onclick="() => DeleteTypePropertyById(context.Id)">
                        <Icon Name="IconName.XLg" Size="IconSize.x6"></Icon>
                    </Button>
                </ChildContent>
            </TemplateColumn>

        </QuickGrid>
    }




    <h4 class="mt-3">
        Продукты

        <Button Color="ButtonColor.Success"
                Type="ButtonType.Link"
                To="@($"CreateProduct/{productType.Id}")">
            <Icon Name="IconName.PlusLg" Size="IconSize.x5"></Icon>
        </Button>

        <Button Color="ButtonColor.Primary"
                @onclick="GetProducts">
            <Icon Name="IconName.ArrowRepeat" Size="IconSize.x5"></Icon>
        </Button>

    </h4>


    @if (products is null)
    {
        <LoadingSpinner></LoadingSpinner>
    }
    else
    {
        <QuickGrid Items="products" Class="w-auto table table-striped table-bordered">
            <PropertyColumn Property="@(p => p.Id)"></PropertyColumn>

            <TemplateColumn Title="Наименование">
                <Button Color="ButtonColor.Light"
                        Type="ButtonType.Link"
                        To="@($"Product/{context.Id}")">
                    @context.Name
                </Button>
            </TemplateColumn>

            <PropertyColumn Property="@(p => p.Cost)" Title="Стоимость" Sortable="true"></PropertyColumn>

            <PropertyColumn Property="@(p => p.Description)" Title="Описание" Class="text-break"></PropertyColumn>
        </QuickGrid>
    }

}


@code {
    [Parameter]
    public long TypeId { get; set; }

    private ProductType? productType = null;

    private ErrorModal modal = new();

    private IQueryable<TypeProperty>? typeProperties = null;

    private IQueryable<Product>? products = null;

    protected override async Task OnInitializedAsync()
    {
        await GetProductType();

        await GetTypeProperties();

        await GetProducts();
    }

    async Task GetProductType()
    {
        var result = await productTypeService.GetProductTypeById(TypeId);

        switch (result)
        {
            case SuccessResult<ProductType> successResult:
                productType = successResult.Data;
                break;

            case ErrorResult<ProductType> errorResult:
                await modal.ShowModal(errorResult);
                break;
        }
    }

    async Task GetTypeProperties()
    {
        var result = await typePropertyService.GetPropertiesByProductTypeId(TypeId);

        switch (result)
        {
            case SuccessResult<List<TypeProperty>> successResult:
                typeProperties = successResult.Data.AsQueryable();
                break;
            case ErrorResult<List<TypeProperty>> errorResult:
                await modal.ShowModal(errorResult);
                break;
        }


    }

    async Task GetProducts()
    {
        var result = await productService.GetByProductTypeId(TypeId);

        switch (result)
        {
            case SuccessResult<List<Product>> successResult:
                products = successResult.Data.AsQueryable();
                break;

            case ErrorResult<List<Product>> errorResult:
                await modal.ShowModal(errorResult);
                break;
        }
    }

    async Task DeleteTypePropertyById(long id)
    {
        var result = await typePropertyService.DeleteProperty(id);

        if (result is ErrorResult errorResult)
        {
            await modal.ShowModal(errorResult);
            return;
        }

        await GetTypeProperties();
    }
}
