@page "/CreateProduct/{typeId:long}"
<PageTitle>Создание продукта</PageTitle>

@inject IProductService productService
@inject IProductTypeService productTypeService
@inject NavigationManager navManager

<h3>Создание продукта</h3>

@if (_productType is not null)
{
    <EditForm Model="_createDto" OnValidSubmit="Submit">

        <FluentValidationValidator />
        <ValidationSummary />

        <div class="form-group">

            <label class="col-form-label">Название</label>
            <div class="col-md-2">
                <p class="form-control">@_productType.Name</p>
            </div>

            <label class="col-form-label">Название</label>
            <div class="col-md-2">
                <InputText @bind-Value="@_createDto.Name" class="form-control"></InputText>
            </div>

            <label class="col-form-label">Описание</label>
            <div class="col-md-2">
                <InputTextArea @bind-Value="@_createDto.Description" class="form-control"></InputTextArea>
            </div>

            <label class="col-form-label">Стоимость</label>
            <div class="col-md-2">
                <InputNumber @bind-Value="@_createDto.Cost" class="form-control"></InputNumber>
            </div>

            <div class="col-md-2 mt-2">
                <Button Type="ButtonType.Submit" Color="ButtonColor.Success">Создать</Button>
            </div>
        </div>
    </EditForm>
}


@if (_errorMessage is not null)
{
    <div class="col-auto">
        <h3>@_errorMessage</h3>
    </div>
}



@code {
    [Parameter]
    public long TypeId { get; set; }

    private ProductCreateDto _createDto = new ProductCreateDto();
    private ProductType? _productType = null;

    private string? _errorMessage = null;

    protected override async void OnInitialized()
    {
        await GetProductType();
    }

    async Task GetProductType()
    {
        var result = await productTypeService.GetProductTypeById(TypeId);

        switch (result)
        {
            case SuccessResult<ProductType> successResult:
                _productType = successResult.Data;
                _createDto.TypeId = _productType.Id;
                _errorMessage = null;
                break;

            case ErrorResult<ProductType> errorResult:
                _errorMessage = errorResult.Message;
                break;
        }
    }


    private async Task Submit()
    {
        var result = await productService.AddProduct(_createDto!);

        if (result is ErrorResult errorResult)
        {
            _errorMessage = errorResult.Message;
        }
        else
        {
            _errorMessage = null;
            navManager.NavigateTo($"ProductType/{_productType!.Id}");
        }
    }
}
