@page "/Product/{productId:long}"
<PageTitle>Просмотр продукта</PageTitle>

@inject IProductService productService
@inject NavigationManager navManager

<ErrorModal @ref="modal"></ErrorModal>

@if (_product is not null)
{
    <Button Color="ButtonColor.Secondary"
            Type="ButtonType.Link"
            To="@($"changeProduct/{_product.Id}")"
            >
        <Icon Name="IconName.Pencil" Size="IconSize.x6"></Icon>
        Изменить
    </Button>

    <Button Color="ButtonColor.Danger"
            @onclick="DeleteProduct"
            Class="mx-2">
        Удалить
    </Button>

    <h3>Наименование: @_product.Name</h3>

    <p class="fs-4">Тип продукта: @_product.Type?.Name</p>

    <p class="fs-3">Стоимость: @_product.Cost</p>

    <h4>Описание</h4>
    <p class="fs-6 text-break text-wrap">@_product.Description</p>

    <div class="divider"></div>

    <Button Color="ButtonColor.Secondary"
            Type="ButtonType.Link"
            To="@($"ChangePropertyValues/{_product.Id}")">
        <Icon Name="IconName.Pencil" Size="IconSize.x6"></Icon>
        Изменить характеристики
    </Button>

    <table class="w-auto table table-striped table-bordered mt-3">
        <thead>
            <tr>
                <th>Характеристика</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PropertyValue propertyValue in _product.PropertyValues)
            {
                <tr>
                    <td>@propertyValue.TypeProperty.Name</td>
                    <td>@propertyValue.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public long ProductId { get; set; }

    private Product? _product = null;

    private ErrorModal modal = new();

    protected override async Task OnInitializedAsync()
    {
        await GetProduct();
    }

    async Task GetProduct()
    {
        var result = await productService.GetProductById(ProductId);

        switch (result)
        {
            case SuccessResult<Product> successResult:
                _product = successResult.Data;
                break;

            case ErrorResult<Product> errorResult:
                await modal.ShowModal(errorResult);
                break;
        }
    }

    async Task DeleteProduct()
    {
        var result = await productService.DeleteProductById(_product!.Id);

        switch (result)
        {
            case SuccessResult<Product> successResult:
                _product = successResult.Data;
                break;

            case ErrorResult<Product> errorResult:
                await modal.ShowModal(errorResult);
                break;
        }
    }
}
