<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if(context.User.Identity?.IsAuthenticated == true)
                    {
                        <h1>Недостаточно прав для просмотра данной страницы</h1>
                    }
                    else
                    {
                        <h1>Братишка, ты не авторизован</h1>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Страница не найдена</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>Некорректный адрес :(</h1>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
